.eventpage-galleryopen {
  margin-bottom: 100vh;
}

.bgo-title-container {
  text-align: center;
  padding: 1rem;
  line-height: 1.6;
  font-family: var(--ff-primary);
  opacity: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
