.pricingpage-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.pricingpage-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--body-color);
  opacity: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  font-size: var(--step-3);
  margin-top: 20%;
}

.pricingpage-box {
  padding: 0 10px 0 10px;
}

.page-title h1 {
  font-size: 3rem;
  margin: 0;
}

.pricingpage-subtitle {
  text-align: center;
  margin: 1rem;
  font-family: var(--ff-secondary);
  opacity: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.price-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.price-gallery-item {
  overflow: hidden;
  position: relative;
}

.price-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.price-gallery-item:hover img {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .pricingpage-box {
    padding: 0 10% 0 10%;
  }
}
