.landing-container {
  height: 100vh;
  width: 100vw;
}

.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.video-bright {
  filter: brightness(1.1);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  z-index: -3;
  object-fit: cover;
  border-radius: 40px;
  overflow-x: hidden;
  top: 70px;
  opacity: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.section-open-downarrow {
  display: flex;
  justify-content: center;
  margin-top: -55%;
}

.section-one::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.section-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  z-index: -3;
  object-fit: cover;
  border-radius: 40px;
  overflow-x: hidden;
  top: 70px;
  opacity: 1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.section-title {
  position: absolute;
  color: var(--body-color);
  top: 30%;
  left: 20%;
  font-family: var(--ff-primary);
  font-size: var(--step-2);
  z-index: -2;
  overflow-x: hidden;
  opacity: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.section-title2 {
  position: absolute;
  color: var(--body-color);
  top: 50%;
  left: 6%;
  font-family: var(--ff-primary);
  font-size: var(--step-2);
  z-index: -2;
  overflow-x: hidden;
  opacity: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

@media (min-width: 360px) {
  .section-title {
    top: 30%;
    left: 23%;
  }

  .section-title2 {
    top: 50%;
    left: 10%;
  }
}

@media (min-width: 414px) {
  .section-title {
    top: 30%;
    left: 27%;
  }

  .section-title2 {
    top: 50%;
    left: 14%;
  }
}

@media (min-width: 601px) {
  .section-title {
    top: 30%;
    left: 35%;
  }

  .section-title2 {
    top: 50%;
    left: 24%;
  }
}

@media (min-width: 768px) {
  .section-title {
    letter-spacing: 5px;
    top: 30%;
    left: 35%;
  }

  .section-title2 {
    letter-spacing: 5px;
    top: 50%;
    left: 28%;
  }
  .section-open-downarrow {
    margin-top: -35%;
  }
}

@media (min-width: 1024px) {
  .section-title {
    letter-spacing: 10px;
  }

  .section-title2 {
    letter-spacing: 10px;
  }
  .section-open-downarrow {
    margin-top: -12%;
  }
}

@media (min-width: 1280px) {
  .section-title {
    letter-spacing: 15px;
  }

  .section-title2 {
    letter-spacing: 15px;
  }
  .section-open-downarrow {
    margin-top: -25%;
  }
}

@media (min-width: 1366px) {
  .section-title {
    letter-spacing: 15px;
  }

  .section-title2 {
    letter-spacing: 15px;
    left: 30%;
  }
  .section-open-downarrow {
    margin-top: -9%;
  }
}

@media (min-width: 1600px) {
  .section-title {
    letter-spacing: 20px;
    top: 30%;
    left: 36%;
  }

  .section-title2 {
    letter-spacing: 20px;
    top: 50%;
    left: 30%;
  }
  .section-open-downarrow {
    margin-top: -10%;
  }
}
