.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-background);
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: var(--body-color);
  margin-bottom: 20px;
}

.shutter-loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.shutter {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #119da4;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  animation: shutter-rotate 2s linear infinite;
}

.shutter:nth-child(2) {
  transform: rotate(60deg);
}

.shutter:nth-child(3) {
  transform: rotate(120deg);
}

.shutter:nth-child(4) {
  transform: rotate(180deg);
}

.shutter:nth-child(5) {
  transform: rotate(240deg);
}

.shutter:nth-child(6) {
  transform: rotate(300deg);
}

@keyframes shutter-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
