.pet-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-bottom: 100vh;
}

.pet-main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.pet-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--ff-primary);
}

.pet-subtitle {
  font-family: var(--ff-secondary);
}

.pet-image-left-container {
  position: absolute;
  right: 0;
  height: 55vh;
  width: 60vw;
}
.pet-image-right-container {
  position: absolute;
  left: 0;
  height: 55vh;
  width: 60vw;
}

.pet-image-left {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 9px;
}

.pet-image-right {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 9px;
}

.pet-button {
  font-family: var(--ff-secondary);
  font-weight: var(--body-weight-secondary);
  font-size: 11px;
  color: var(--body-color);
  background-color: transparent;
  border: 1px solid var(--body-color);
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
  position: relative;
  top: 1rem;
}

.pet-button:hover {
  background-color: var(--body-hover);
  transition: 0.3s ease-in-out;
}

@media (min-width: 414px) {
  .pet-container {
    height: 75vh;
  }
}

@media (min-width: 768px) {
  .pet-container {
    height: 65vh;
  }
}

@media (min-width: 1024px) {
  .pet-container {
    height: 100vh;
  }
  .pet-image-left-container {
    position: absolute;
    right: 20%;
    height: 70vh; /* Increase height */
    width: 40vw;
  }

  .pet-image-right-container {
    position: absolute;
    left: 20%;
    height: 70vh; /* Increase height */
    width: 40vw;
  }

  .pet-image-left {
    object-fit: cover;
    height: 100%; /* Set height to 100% */
    width: 100%; /* Set width to 100% */
    z-index: 9999;
    border-radius: 9px;
  }

  .pet-image-right {
    object-fit: cover;
    height: 100%; /* Set height to 100% */
    width: 100%; /* Set width to 100% */
    z-index: 999;
    border-radius: 9px;
  }
}

@media (min-width: 1280px) {
  .pet-container {
    height: 70vh;
  }
}

@media (min-width: 1366px) {
  .pet-container {
    height: 100vh;
  }
}
