.p2bed-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 20%;
}

.p2content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.p2-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.p2-option-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divider {
  width: 1px;
  height: 1rem;
  background-color: transparent;
  margin: 0 5px;
}

.p2main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.p2s {
  position: absolute;
  top: 0;
  right: -12px;
  display: flex;
  flex-direction: column;
}

.p2 {
  font-weight: bold;
  font-family: var(--ff-secondary);
  padding: 10px 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--body-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.active {
  color: #119da4;
  background-color: var(--body-hover);
}

.p2:hover {
  background-color: var(--body-hover);
}

.p2content-body {
  width: 80%;
  height: 80%;
  background-color: var(--body-background);
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.p2-content {
  margin-bottom: 20px;
  height: 70vh;
}

.p2-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.p2-ind {
  font-family: var(--ff-secondary);
  margin-bottom: 5px;
}

.p2-duo {
  font-family: var(--ff-secondary);
  margin-bottom: 5px;
}

.p2-cost-ind {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.p2-cost-duo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.p2feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: var(--ff-secondary);
}

.p2feature-list li {
  margin-bottom: 10px;
}

.p2option-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
}

.p2option-list li {
  margin-bottom: 10px;
}

@media (min-width: 360px) {
  .p2s {
    top: 0;
    right: -5px;
  }
  .p2-content {
    height: 60vh;
  }
}

@media (min-width: 380px) {
  .p2s {
    top: 0;
    right: -2px;
  }
}

@media (min-width: 414px) {
  .p2-content {
    height: 55vh;
  }
}

@media (min-width: 768px) {
  .p2s {
    top: 0;
    right: 7px;
  }
}

@media (min-width: 800px) {
  .p2bed-content {
    margin-top: -15%;
  }
  .p2-content {
    height: 45vh;
  }
}

@media (min-width: 810px) {
  .p2bed-content {
    margin-top: -5%;
  }
}

@media (min-width: 1024px) {
  .p2s {
    top: 0;
    right: 15px;
  }
  .p2-content {
    height: 65vh;
  }
}

@media (min-width: 1280px) {
  .p2s {
    top: 0;
    right: 24px;
  }
  .p2-content {
    height: 55vh;
  }
}

@media (min-width: 1366px) {
  .p2bed-content {
    margin-top: 5%;
  }
  .p2-content {
    height: 75vh;
  }
}

@media (min-width: 1440px) {
  .p2-content {
    height: 60vh;
  }
}

@media (min-width: 1792px) {
  .p2bed-content {
    margin-top: 5%;
  }
  .p2-content {
    height: 70vh;
  }
}

@media (min-width: 1920px) {
  .p2s {
    top: 0;
    right: 32px;
  }
  .p2-content {
    height: 60vh;
  }
}
