.p3bed-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 125vh;
  margin: 0 auto;
}

.p3content-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.p3-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.p3-option-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-wedding {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: -10px;
}

.engagements-and-elopements {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.divider {
  width: 1px;
  height: 1rem;
  background-color: transparent;
  margin: 0 5px;
}

.p3main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.p3s {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; /* Add this property to prevent wrapping */
  position: absolute;
  top: 0;
  right: -12px; /* Adjust this value as needed to position the tabs on the right side */
}

.basic-active {
  /* Adjust the top and right values according to your needs */
  top: 20px; /* Example value to shift the element down */
  right: -50px; /* Example value to shift the element left */
}

.p3 {
  font-weight: bold;
  font-family: var(--ff-secondary);
  padding: 10px 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--body-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.space-filler {
  display: inline-block;
  width: 275px;
  height: 2px;
}

.active {
  color: #119da4;
  background-color: var(--body-hover);
}

.p3:hover {
  background-color: var(--body-hover);
}

.p3content-body {
  width: 80%;
  height: 80%;
  background-color: var(--body-background);
  padding: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.p3-content {
  margin-bottom: 10px;
  height: 100vh;
}

.p3-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.p3-wed {
  font-family: var(--ff-secondary);
  margin-bottom: 5px;
}

.p3-eng {
  font-family: var(--ff-secondary);
  margin-bottom: 5px;
}

.p3-elo {
  font-family: var(--ff-secondary);
  margin-bottom: 5px;
}

.p3-cost-wed {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -1px;
}

.p3-cost-eng {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -1px;
}

.p3-cost-elo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -1px;
}

.p3feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: var(--ff-secondary);
}

.p3feature-list li {
  margin-bottom: 10px;
}

.p3option-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
}

.p3option-list li {
  margin-bottom: 10px;
}

.p3special-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: var(--ff-secondary);
}

.p3special-list li {
  margin-bottom: 10px;
}

@media (min-width: 360px) {
  .p3s {
    top: 0;
    right: -5px;
  }
  .space-filler {
    width: 315px;
  }
  .p3-content {
    height: 80vh;
  }
}

@media (min-width: 380px) {
  .p3s {
    top: 0;
    right: -2px;
  }
  .space-filler {
    width: 330px;
  }
}

@media (min-width: 414px) {
  .p3s {
    top: 0;
    right: 0px;
  }
  .space-filler {
    width: 337px;
  }
  .p3-content {
    height: 65vh;
  }
}

@media (min-width: 768px) {
  .p3s {
    top: 0;
    right: 9px;
  }
  .space-filler {
    width: 379px;
  }
}

@media (min-width: 800px) {
  .p3bed-content {
    margin-top: -80%;
  }
  .p3-content {
    height: 55vh;
  }
}

@media (min-width: 810px) {
  .p3bed-content {
    margin-top: -50%;
  }
  .p3-content {
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .p3s {
    top: 0;
    right: 16px;
  }
  .space-filler {
    width: 422px;
  }
  .p3bed-content {
    margin-top: -20%;
  }
  .p3-content {
    height: 85vh;
  }
}

@media (min-width: 1280px) {
  .p3s {
    top: 0;
    right: 26px;
  }
  .space-filler {
    width: 465px;
  }
  .p3-content {
    height: 75vh;
  }
}

@media (min-width: 1366px) {
  .p3bed-content {
    margin-top: -5%;
  }
  .p3-content {
    height: 95vh;
  }
}

@media (min-width: 1440px) {
  .p3bed-content {
    margin-top: -2%;
  }
  .p3-content {
    height: 85vh;
  }
}

@media (min-width: 1600px) {
  .p3bed-content {
    margin-top: -10%;
  }
  .p3-content {
    height: 80vh;
  }
  .p3-eng {
    color: purple;
  }
}

@media (min-width: 1792px) {
  .p3bed-content {
    margin-top: -10%;
  }
  .p3-content {
    height: 90vh;
  }
  .p3-eng {
    color: green;
  }
}

@media (min-width: 1850px) {
  .p3bed-content {
    margin-top: -10%;
  }
  .p3-content {
    height: 75vh;
  }
  .p3-eng {
    color: blue;
  }
}

@media (min-width: 1890px) {
  .p3bed-content {
    margin-top: -10%;
  }
  .p3-content {
    height: 55vh;
  }
  .p3-eng {
    color: red;
  }
}

@media (min-width: 1920px) {
  .p3s {
    top: 0;
    right: 34px;
  }
  .space-filler {
    width: 505px;
  }
  .p3bed-content {
    margin-top: -20%;
  }
  .p3-content {
    height: 80vh;
  }
  .p3-eng {
    color: yellow;
  }
}
